In [96]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline

In [97]:
df = pd.read_csv('student_scores.csv')

In [98]:
df.reset_index(drop=True, inplace=True)
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [99]:
from sklearn.model_selection import train_test_split

In [100]:
A = np.array(df['Hours'])
B = np.array(df['Scores'])

In [101]:
# Converting in 2D array

X = A.reshape(-1, 1)
y = B.reshape(-1, 1)

In [102]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [103]:
from sklearn.linear_model import LinearRegression

In [104]:
lr = LinearRegression()

In [105]:
lr.fit(X_train,y_train)

LinearRegression()

In [106]:
lr_predictions = lr.predict(X_test)

In [107]:
hours = 9.25
own_pred = lr.predict(np.array([hours]).reshape(1, 1))
print(f"No of Hours = {hours}")
print(f"Predicted Score = {own_pred[0]}")

No of Hours = 9.25
Predicted Score = [92.67022038]

In [108]:
from sklearn import metrics  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test,lr_predictions))

Mean Absolute Error: 4.564015037730867

In [109]:
from sklearn.metrics import confusion_matrix, classification_report